* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

html {
  height: 100%;
}

.title {
  font-size: 20pt;
  letter-spacing: 8px;
  color: whitesmoke;
}

header {
  font-family: "Commissioner", sans-serif;
  background-color: #1948a0;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto;
}

.directory {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav {
  display: flex;
  align-items: center;
  min-height: 5vh;
  background-color: #25937e;
  font-family: "Commissioner", sans-serif;
  padding: 10px;
  justify-content: space-around;
}

.directory a {
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 13pt;
  transition: 0.4s;
}

.directory li {
  list-style: none;
}

.directory a:hover {
  font-size: 16pt;
}

.burger {
  cursor: pointer;
  display: none;
  grid-column: 2;
  padding: 3px;
  padding-left: 8px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 5px;
  align-items: right;
  transition: all 0.4s ease;
}

/*Den första main bodyn*/

.mainbody {
  background: #ccb259;
  padding: 50px;
  display: grid;
  grid-template-columns: auto 300px 300px 300px auto;
  grid-template-rows: auto 150px 30px 20px 150px 30px 20px 150px 30px 20px auto;
}

.mainbody a {
  text-decoration: none;
  color: black;
  background-color: #d7ddc7;
  font-family: "Roboto Slab", serif;
  font-size: 10.8pt;
  transition: 0.4s;
}

.mainbody a:hover {
  background-color: black;
  color: #d7ddc7;
}

/*Den andra main bodyn*/

.mainbody2 {
  background: #ccb259;
  padding: 50px;
  display: none;
  grid-template-columns: auto 300px 300px auto;
  grid-template-rows: auto 150px 30px 20px 150px 30px 20px 150px 30px 20px auto;
}

.mainbody2 a {
  text-decoration: none;
  color: black;
  background-color: #d7ddc7;
  font-family: "Roboto Slab", serif;
  font-size: 10.8pt;
  transition: 0.4s;
}

.mainbody2 a:hover {
  background-color: black;
  color: #d7ddc7;
}

/*Den tredje main bodyn*/

.mainbody3 {
  background: #ccb259;
  padding: 50px;
  display: none;
  grid-template-columns: auto 300px auto;
  grid-template-rows: auto 150px 30px 20px 150px 30px 20px 150px 30px 20px auto;
}

.mainbody3 a {
  text-decoration: none;
  color: black;
  background-color: #d7ddc7;
  font-family: "Roboto Slab", serif;
  font-size: 10.8pt;
  transition: 0.4s;
}

.mainbody3 a:hover {
  background-color: black;
  color: #d7ddc7;
}

.fotterbody {
  background-color: #1948a0;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". .";
}

.fotterul {
  grid-column: auto;
  grid-row: auto;
  justify-self: center;
  align-self: center;
  height: 100vw;
}

.fotterbody li {
  list-style: none;
  font-family: "Roboto Slab", serif;
}

.vårcopy {
  font-size: 20pt;
  letter-spacing: 3px;
  font-weight: bold;
}

.japp {
  font-size: 18pt;
  padding-left: 100px;
}

.philips-tv {
  max-height: 300px;
  max-width: 150px;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.asus {
  max-height: 300px;
  max-width: 150px;
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.bose {
  max-height: 300px;
  max-width: 150px;
  grid-column: 4;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.sony {
  max-height: 300px;
  max-width: 150px;
  grid-column: 2;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}

.huawei {
  max-height: 300px;
  max-width: 150px;
  grid-column: 3;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}

.logitech {
  max-height: 300px;
  max-width: 150px;
  grid-column: 4;
  grid-row: 5;
  justify-self: center;
  align-self: center;
}

.ryzen {
  max-height: 300px;
  max-width: 150px;
  grid-column: 2;
  grid-row: 8;
  justify-self: center;
  align-self: center;
}

.gopro {
  max-height: 300px;
  max-width: 150px;
  grid-column: 3;
  grid-row: 8;
  justify-self: center;
  align-self: center;
}

.fractal {
  max-height: 300px;
  max-width: 150px;
  grid-column: 4;
  grid-row: 8;
  justify-self: center;
  align-self: center;
}

.philips-text {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 5px;
}

.asus-text {
  grid-column: 3;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 17px;
  padding-left: 17px;
  border-radius: 5px;
}

.bose-text {
  grid-column: 4;
  grid-row: 3;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 9px;
  padding-left: 9px;
  border-radius: 5px;
}

.sony-text {
  grid-column: 2;
  grid-row: 6;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 5px;
}

.huawei-text {
  grid-column: 3;
  grid-row: 6;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 5px;
}

.mxmaster-text {
  grid-column: 4;
  grid-row: 6;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 5px;
}

.ryzen-text {
  grid-column: 2;
  grid-row: 9;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
}

.gopro-text {
  grid-column: 3;
  grid-row: 9;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
}

.fractal-text {
  grid-column: 4;
  grid-row: 9;
  justify-self: center;
  align-self: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 5px;
}

.directory-active {
  transform: translateX(0%) !important;
}

@media screen and (max-width: 1230px) {
  .directory {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }

  .directory {
    position: fixed;
    right: 0px;
    height: 46vh;
    width: 30%;
    top: 2vh;
    background-color: #25937e;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    top: 58px;
  }
  .directory li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .ognav {
    background-color: #ccb259;
  }
}

/*Media querys för mina flera body's*/

@media screen and (max-width: 950px) {
  .mainbody {
    display: none;
  }

  .mainbody2 {
    display: grid;
  }
}

@media screen and (max-width: 646px) {
  .mainbody2 {
    display: none;
  }

  .mainbody3 {
    display: grid;
  }
}

@media screen and (max-width: 420px) {
  .vårcopy {
    font-size: 16pt;
  }

  .japp {
    font-size: 12pt;
  }
}

@keyframes directoryfade {
  from {
    opacity: 0;
    transform: translateX(25px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.trans .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.trans .line2 {
  opacity: 0;
}

.trans .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 835px) {
  .directory {
    width: 35%;
  }
}

@media screen and (max-width: 700px) {
  .directory {
    width: 42%;
  }
}

@media screen and (max-width: 700px) {
  .directory {
    width: 42%;
  }
}

@media screen and (max-width: 540px) {
  .directory {
    width: 46%;
  }
}

@media screen and (max-width: 457px) {
  .directory {
    width: 60%;
  }
}

@media screen and (max-width: 375px) {
  .directory {
    width: 100%;
  }
}
